
.alarm-list {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 알림 간 간격 줄임 */
  flex-grow: 1;
  min-height: 75vh;
  width: 100%;
  align-items: center;
}

.alarm-item {
  position: relative; /* 아이콘 절대 위치 기준 */
  width: 100%;
  display: flex;
  align-items: center; /* 아이콘과 텍스트 세로 가운데 */
  gap: 12px;
  background: #fff;
  padding: 14px 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  color: #000000b4;
  font-size: 14px;
  transition: background 0.3s;
  cursor: pointer;
}

.alarm-item.read {
  background: #f6f6f6;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  color: #b1b1b1;
}

.alarm-header {
  display: flex;
  align-items: center;
  gap: 6px; /* 아이콘과 제목 간격 */
  margin-bottom: 4px;
}

.alarm-icon {
  position: absolute;
  color: #202020;
  flex-shrink: 0; /* 아이콘 크기 고정 */
  top: 14px;
  left: 12px;
}
.alarm-content {
  display: flex;
  flex-direction: column;
  margin-left: 26px;
}

.alarm-title {
  font-weight: bold;
  margin-bottom: 4px;
  color: #000000;
}

.alarm-message {
  overflow: hidden;            /* 넘치는 텍스트 숨기기 */
  white-space: nowrap;         /* 한 줄로 표시 */
  text-overflow: ellipsis;     /* 넘치는 부분에 ... 표시 */
  display: inline-block;              /* text-overflow 적용되려면 block 또는 inline-block이어야 함 */
}


/* 팝업 오버레이 */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* 팝업 본체 */
.popup {
  background: white;
  border-radius: 12px;
  padding: 20px 15px;
  max-width: 350px;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.2s ease-in-out;
}

.popup-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.popup-sender {
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
}

.popup-message {
  font-size: 14px;
  color: #333;
  white-space: pre-line;
  margin-bottom: 10px;
}

.popup-close {
  display: block;
  width: 100%;
  background-color: #6a5af9;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 0;
  cursor: pointer;
  font-size: 14px;
}

.popup-close:hover {
  background-color: #6a5af9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

