/* Chatting.css */
.chatting-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .chatting-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    color: #1a2c51;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    color: black;
    cursor: pointer;
  }
  
  .chatting-title {
    font-size: 18px;
  }
  
  .chatting-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 80px; /* 입력창 가리기 방지 여백 */
  }
  
  .chatting-message {
    max-width: 70%;
    padding: 10px 14px;
    margin: 6px 0px;
    border-radius: 18px;
    font-size: 15px;
    word-break: break-word;
    display: inline-block;
  }
  
  .me {
    background-color: #edebfd;
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }
  
  .other {
    background-color: #f1f1f1;
    align-self: flex-start;
    border-bottom-left-radius: 0;
  }
  
  
  
  .chatting-input-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    background: white;
    box-sizing: border-box;
  }
  
  .chatting-input-box input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background: #f1f1f1;
    margin-right: 10px;
  }
  
  .send-button {
    background: #775ef9;
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 20px;
    cursor: pointer;
  }