

.form-upload-button {
  margin-top: 5px;
  padding: 12px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.form-image-preview {
  margin-top: 15px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.form-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 30px;
}

.form-skip-button,
.form-submit-button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.form-skip-button {
  margin-right: 10px;
  background-color: #f5f5f5;
}

.form-submit-button {
  margin-left: 10px;
  background-color: #7b61ff;
  color: white;
}
