.edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.toggle-group {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.toggle-btn {
  flex: 1;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.toggle-btn.selected {
  background-color: #6a5af9;
  color: white;
  border-color: #6a5af9;
}


/* .edit-select,
.edit-input,
.edit-textarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 24px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  font-family: sans-serif;
  box-sizing: border-box;
}

.edit-input:focus,
.edit-select:focus,
.edit-textarea:focus {
  border-color: #a48cf0;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(106, 90, 249, 0.2);
}

.edit-textarea {
  resize: none;
  height: 100px;
}

.edit-submit-button {
  align-items: center;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #6a5af9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(106, 90, 249, 0.25);
  transition: background-color 0.2s;
}

.edit-submit-button:hover {
  background-color: #584af5;
} */
