/* EditEvent.css - CreatePost와 동일한 스타일 */

.form-submit-button {
  width: 100%;
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #7b61ff;
  color: white;
}