/* Home.css */

.home-container {
  width: 100%;
  max-width: 500px;
  margin: 70px auto 80px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafbfc;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bell-wrapper {
  position: absolute;
  right: 0;
  padding: 3px;
  padding-right: 5px;
  color: black;
}

.bell-wrapper .bell-icon {
  font-size: 20px;
  color: #444;
}

.alarm-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #6a5af9;
  color: white;
  font-size: 10px;
  padding: 0px 4px;
  border-radius: 999px;
}

.post-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-event-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(108, 92, 231, 0.07);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.home-event-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  background: #eee;
}

.home-event-info {
  padding: 0px 6px 4px 6px;
  margin: 8px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.home-event-title {
  font-size: 20px;
  font-weight: 700;
  color: #222;
  margin: 4px;
}

.home-event-sub {
  font-size: 14px;
  color: #6c5ce7;
  margin-left: 4px;
}

.home-event-desc {
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
  font-size: 14px;
  line-height: 1.4em;
  transition: all 0.2s ease;
}

.home-event-desc.expanded {
  display: block;
  -webkit-line-clamp: unset;
  line-clamp: unset;
  overflow: visible;
}

.show-more-btn {
  background: none;
  border: none;
  color: #007bff;
  font-size: 13px;
  cursor: pointer;
  margin-top: 4px;
  padding: 0;
  text-align: left;
}
.show-more-btn:hover {
  text-decoration: underline;
}
