    .input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .input-row .textarea {
    margin-bottom: 0;
    flex: 1;
    min-width: 140px;
  } 
  
  .join-outline-btn {
    flex: 1;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid #6a5af9;
    background-color: white;
    color: #6a5af9;
    font-weight: bold;
    cursor: pointer;
  }
  
  .gender-btn {
    padding: 15px 20px;
    border: 1px solid #6200ee;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
    color: #6200ee;
    font-weight: bold;
  }
  
  .gender-btn.selected {
    background-color: #6200ee;
    color: white;
  }
