.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: 5vh;
  }
  
  .login-text-container {
    width: 100%;
    text-align: center;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .login-subtitle {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 20px;
    line-height: 2;
  }
  
  .login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .login-textarea {
    width: 80%;
    margin-bottom: 15px;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
  }

  
  .login-forgot {
    color: #6a5af9;
    text-decoration: none;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    background: white;
  }
  
  .login-button, .join-button {
    width: 80%;
  padding: 13px;
  font-size: 15px;
  color: white;
  background-color: #6a5af9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(106, 90, 249, 0.25);
  transition: background-color 0.2s;
  margin-bottom: 10px;
  }
  
 .login-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  color: #888;
}

.login-divider::before,
.login-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.login-divider::before {
  margin-right: 10px;
}

.login-divider::after {
  margin-left: 10px;
}

.login-sns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.kakaobtn,
.naverbtn {
  width: 80%;             /* 버튼 전체 너비 */
  display: flex;          /* 이미지와 내부 여백을 정렬 */
  justify-content: center; /* 이미지 중앙 정렬 */
  align-items: center;     
  padding: 0 20px;        /* 버튼 좌우 여백 */
  height: 46px;           /* 버튼 높이 */
  margin-bottom: 10px;
  text-decoration: none;
  box-sizing: border-box;
}

.kakaobtn {
  background-color: #fee500; /* 예: 카카오 버튼 배경 */
}

.naverbtn {
  background-color: #03c75a; /* 예: 네이버 버튼 배경 */
}

.kakaobtn img,
.naverbtn img {
  width: auto;
  height: 100%; /* 버튼 높이에 맞춤 */
  object-fit: contain; /* 이미지 비율 유지 */
}



