.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: 5vh;
  }
  
  .login-text-container {
    width: 100%;
    text-align: center;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .login-subtitle {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 20px;
    line-height: 2;
  }
  
  .login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .textarea {
    width: 80%;
    margin-bottom: 15px;
  }

  
  .login-forgot {
    color: #6a5af9;
    text-decoration: none;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    background: white;
  }
  
  .login-button {
    width: 80%;
  padding: 13px;
  font-size: 15px;
  color: white;
  background-color: #6a5af9;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(106, 90, 249, 0.25);
  transition: background-color 0.2s;
  margin-bottom: 10px;
  }
  
 .login-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  color: #888;
}

.login-divider::before,
.login-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.login-divider::before {
  margin-right: 10px;
}

.login-divider::after {
  margin-left: 10px;
}

.login-sns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.kakaobtn,
.naverbtn {
  width: 80%;              /* login-button과 동일한 너비 */
  display: block;
  margin-bottom: 10px;
}

.kakaobtn img,
.naverbtn img {
  width: 100%;             /* 부모 a 태그 기준으로 채우기 */
  height: auto;
  display: block;
}


