.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top: 5vh;
  }
  
  .login-text-container {
    width: 80%;
    text-align: center;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .login-subtitle {
    font-size: 1rem;
    color: gray;
    margin-bottom: 30px;
    line-height: 2;
  }
  
  .login-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .textarea {
    margin-bottom: 15px;
  }

  
  .login-forgot {
    color: #6a5af9;
    text-decoration: none;
    margin-bottom: 80px;
    border: none;
    cursor: pointer;
    background: white;
  }
  
  .login-button {
    width: 200px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background: #6a5af9;
    color: white;
    cursor: pointer;
    margin: 10px 0;
  }
  