.mypage-container {
  padding: 30px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #1a2a57;
}

.mypage-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-info {
  width: 70%;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
  font-size: 16px;
}

.my-label {
  font-weight: 500;
}


.value {
  font-weight: 400;
}

.edit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 25px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.login-divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  margin-top: 40px;
  font-size: 14px;
  color: #888;
}

.login-divider::before,
.login-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.login-divider::before {
  margin-right: 10px;
}

.login-divider::after {
  margin-left: 10px;
}


.link-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* 버튼 사이 간격 */
  margin-top: 20px;
}


.kakaolink,
.naverlink {
  width: 100%;             /* 버튼 전체 너비 */
  height: 25px;           /* 버튼 높이 */
  display: flex;          /* 이미지와 내부 여백을 정렬 */
  justify-content: center; /* 이미지 중앙 정렬 */
  align-items: center;     
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 6px;
}

.kakaolink {
  background-color: #fee500; /* 예: 카카오 버튼 배경 */
}

.naverlink {
  background-color: #03c75a; /* 예: 네이버 버튼 배경 */
}

.kakaolink img,
.naverlink img {
  width: auto;
  height: 100%; /* 버튼 높이에 맞춤 */
  object-fit: contain; /* 이미지 비율 유지 */
  flex-shrink: 0; /* 이미지가 줄어들지 않도록 설정 */
  max-width: 100%;
}

.kakaolink.disabled,
.naverlink.disabled {
  pointer-events: none;   /* 클릭 막기 */
  opacity: 0.5;           /* 회색처럼 보이게 */
  cursor: not-allowed;    /* 마우스 커서도 X */
}

.logout-button {
  color: #6a5af9;
  margin-top : 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: white;
}
