.page-header {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* 가운데 정렬된 타이틀 */
.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 550;
  margin: 0;
}

/* back 버튼을 flex item으로 두고 좌측에 고정 */
.back-button {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  padding: 1px;
  margin-left: 1px;
}

/* 오른쪽 버튼 (전체읽음 등) */
.header-right {
  display: flex;
  align-items: center;
}

.read-all-btn, .exceldown-btn {
  color: rgb(0, 0, 0);
  border: 1px;
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-right: 4px;
}

.read-all-btn:hover, .exceldown-btn:hover {
  background-color: #5634ff8b;
}