.page-header {
  position: relative;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

/* 가운데 정렬된 타이틀 */
.header-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.back-button {
  position: absolute;
  top: 30%;
  left: 5px; /* ← 왼쪽 끝에 더 가까이 붙도록 설정 */
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  padding: 1px;
}