/* 공통 스타일 */

/* 화면 틀 */
.container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 56px;
    font-family: sans-serif;
    max-width: 700px;
    margin: 0 auto;
  }

/* 페이지 상단 제목 */
.page-title {
  font-weight: 550;
  margin: 0px 0 20px 0;
  text-align: center;
  justify-content: center; /* 가운데 정렬 기본 */
  position: relative; /* 아이콘을 오른쪽에 배치하기 위해 기준 설정 */
  font-size: 20px;
  color: #222;
  flex-shrink: 0;
}

/* 라벨 (input위) */
.label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

/* 텍스트 입력 칸 */
.longtext,
.textarea {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 16px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

/* 긴 텍스트 입력 */
.longtext {
  resize: none;
  height: 150px;
  font-family: sans-serif;
}

/* 입력 중 색 변경 */
.searchinput:focus,
.longtext:focus,
.textarea:focus {
  border-color: #a48cf0;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(106, 90, 249, 0.2);
}

/* 검색창 */

.searchbox {
  margin-bottom: 16px;
}

.searchinput {
  width: 100%;
  padding: 10px 14px;
  border: 1.5px solid #e5e5e5;
  border-radius: 12px;
  font-size: 14px;
  background: #fafbfc;
  box-sizing: border-box;
  outline: none;
}

/* 버튼 */
.big-button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #6a5af9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(106, 90, 249, 0.25);
  transition: background-color 0.2s;
}

.half-button {
  width: 185px;
  padding: 12px;
  font-size: 16px;
  color: white;
  background-color: #6a5af9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(106, 90, 249, 0.25);
  transition: background-color 0.2s;
}

/* 드롭다운 */
.dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}

.dropdown-selected {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  transition: border-color 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  max-height: 180px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #6a5af936;
}

.dropdown-item.selected {
  background-color: #6a5af936;
}

.arrow {
  margin-left: 8px;
  font-size: 12px;
}

@media (max-width: 700px) {
  .dropdown-item {
    font-size: 14px;
    padding: 8px 10px;
  }
}


.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

